In [21]:

# Import dependencies
import pandas as pd
import numpy as np
import os
import csv

In [22]:
# We Import NBA Player's Career Profile

players = './resources/Players.csv'
career= pd.read_csv(players)

print('Number of Rows', len(career))
# career.count()

Number of Rows 3922

In [16]:
#  We Import NBA Player's Season Profiles

player_data = './resources/player_data.csv'
plyr_season = pd.read_csv(player_data)

# Renames the Column 'name' to 'Player'
plyr_season = plyr_season.rename(columns={'name': 'Player'})

print('Number of Rows', len(plyr_season))
# plyr_season.count()

Number of Rows 4550

In [17]:
# Merge the plyr_season & career Dataframes on 'Players'

Player_Profile_Dirty = pd.merge(plyr_season, career, how='left', on=["Player","Player"])

print('Number of Rows', len(Player_Profile_Dirty))
Player_Profile_Dirty.count()

Number of Rows 4550

In [18]:
# Create DataFrames and edit Column Names

htwt = [
    'Player',
    'height_y',
    'weight_x']
player_htwt= Player_Profile_Dirty[htwt]

# Renames Columns
P_htwt = player_htwt.rename(columns={
    'height_y':'Height (cm)',
    'weight_x':'Weight (lbs)'})
print('length of P_htwt', len(P_htwt))


# -----------
college = [
    'Player',
    'college']
player_college= Player_Profile_Dirty[college]

# Renames Columns
P_college = player_college.rename(columns={
   'college':'College'})
print('length of P_college', len(P_college))


# -----------
new_columns = [
'Player',
'birth_state']
PP= Player_Profile_Dirty[new_columns]

# Renames Columns
PPD = PP.rename(columns={
    'birth_state':'State',})
print('length of Player_htwt', len(PPD))

# P_htwt
# P_college.count()
# PPD.count()

length of P_htwt 4550
length of P_college 4550
length of Player_htwt 4550

In [26]:
# We Import United States latitude and longitude

LL= './resources/50_SLat_Lng.csv'
ltlg= pd.read_csv(LL)

# Renames Columns
lat_lng= ltlg.rename(columns={
    'Place Name':'State'})
# lat_lng

In [27]:
#  Merge Player Profile Dataframe with Lat. & Lng Dataframe

Player_Profile_State = pd.merge(PPD,lat_lng, how='left', on=["State","State"])
print(len(Player_Profile_State))
Player_Profile_State.count()

4550

Player       4550
State        3353
Latitude     2928
Longitude    2928
dtype: int64

In [40]:
# Remove Players not Born in the USA or info not recorded (1622)
# Remove Duplicate Players by -> name and state

Player_State = Player_Profile_State.dropna(axis = 0, how ='any') 


print("Old data frame length:", len(Player_Profile_State),
      "\nNew data frame length:", len(Player_State),
      "\nNumber of Player Not Born In USA: ",(len(Player_Profile_State)-len(Player_State)))
Player_Profile_State.count()
# Player_State.count()

Old data frame length: 4550
New data frame length: 2928
Number of Player Not Born In USA:  1622

Player       4550
State        3353
Latitude     2928
Longitude    2928
dtype: int64

In [29]:
# Add USA born players College Height and Weight
# Remove Duplicate Players by -> name and state
# Remove player with incomplete Ht & Wt Data

Player_htwt = pd.merge(Player_State, P_htwt, how='left', on=["Player","Player"])
Player_htwt.drop_duplicates(subset =('Player', 'State'), keep = False, inplace = True)
P_htwt_Clean = Player_htwt

# .dropna(axis = 0, how ='any') 

Player_Profile = P_htwt_Clean
#                           , P_college, how='left', on=["Player","Player"])

print("Old data frame length:", len(Player_State),
      "\nNew data frame length:", len(Player_Profile),
      "\nNumber of Players with Incomplete Ht&Wt Data: ",len(Player_State)-len(Player_Profile))
Player_htwt.count()
Player_Profile.count()

Old data frame length: 2928
New data frame length: 2845
Number of Players with Incomplete Ht&Wt Data:  83

Player          2845
State           2845
Latitude        2845
Longitude       2845
Height (cm)     2845
Weight (lbs)    2844
dtype: int64

In [41]:
y = [
'Player',
'Tm',
'birth_state']
player_profile =[y]
player_profile

Player_Profile_Dirty = pd.merge(plyr_season, career, how='left', on=["Player","Player"])
Player_Profile_Dirty
plyr_season = plyr_season.rename(columns={'name': 'Player'})
plyr_season

,Player,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University

In [42]:
# We Import NBA Teams Location

tll = './resources/NBA_TeamLL.csv'
Team_LL= pd.read_csv(tll)
Team_LL

In [43]:
# We Import NBA Player Season Stats

Season_stats = './resources/Seasons_Stats.csv'
stats_season = pd.read_csv(Season_stats)
#  Renames Columns

dirty_stats = stats_season.rename(columns={
    'Tm': 'Team',
    'Pos':'Position (Season)',
    'TRB':'Rebounds',
    'STL':'Steals',
    'BLK':'Blocks',
    'AST':'Assists',
    'PTS':'Points',
    'PER':'Player Rating'})
# dirty_stats

In [44]:
season_stats = pd.merge(dirty_stats, Team_LL, how='left', on=["Team","Team"])
season_stats.count()

Unnamed: 0           24691
Year                 24624
Player               24624
Position (Season)    24624
Age                  24616
Team                 24624
G                    24624
GS                   18233
MP                   24138
Player Rating        24101
TS%                  24538
3PAr                 18839
FTr                  24525
ORB%                 20792
DRB%                 20792
TRB%                 21571
AST%                 22555
STL%                 20792
BLK%                 20792
TOV%                 19582
USG%                 19640
blanl                    0
OWS                  24585
DWS                  24585
WS                   24585
WS/48                24101
blank2                   0
OBPM                 20797
DBPM                 20797
BPM                  20797
VORP                 20797
FG                   24624
FGA                  24624
FG%                  24525
3P                   18927
3PA                  18927
3P%                  15416
2P                   24624
2PA                  24624
2P%                  24496
eFG%                 24525
FT                   24624
FTA                  24624
FT%                  23766
ORB                  20797
DRB                  20797
Rebounds             24312
Assists              24624
Steals               20797
Blocks               20797
TOV                  19645
PF                   24624
Points               24624
Team Name            18837
Lng                  18837
Lat                  18837
Unnamed: 4               0
dtype: int64

In [ ]:
# Select only the Columns that are needed

new_columns = [
    'Year',
    'Player',
    'Position (Season)',
    'Team',
    'Team Name',
    'Team Lat',
    'Team Lng',
    'Rebounds',
    'Steals',
    'Blocks',
    'Assists',
    'Points',
    'Player Rating']
stats_col= season_stats[new_columns]
stats_col

In [ ]:
# Select only the 2010-2015 Season statistics

STATS = stats_col.loc[(stats_col['Year']>=2010)&(stats_col['Year']=<2015)]
STATS.count()

In [ ]:
# Merge the Clean Player Profile with the Clean Player Stats

NBA = pd.merge(Player_Profile,STATS, how='left', on=["Player","Player"])
NBA = NBA.dropna(axis = 0, how ='any')
NBA.count()

In [ ]:
# Add the players colleges if they attended

NBAProfile = pd.merge(NBA, P_college, how='left', on=["Player","Player"])
NBAProfile['MapPt'] = pd.Series(3, index=NBAProfile.index)
NBAProfile.count()

In [ ]:
NBAProfile.set_index("Player", inplace=True)

In [ ]:
import gmaps
from api_keys import g_key

In [ ]:
gmaps.configure(api_key=g_key)

In [ ]:
birthlocations = NBAProfile[["Latitude", "Longitude"]]
Teamlocations = NBAProfile[["Team Lat", "Team Lng"]]
MP = NBAProfile["MapPt"].astype(float)

In [ ]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layerB = gmaps.heatmap_layer(birthlocations, weights=(NBAProfile['Player Rating']*NBAProfile['Player Rating']), 
                                 dissipating=False, max_intensity=30000,
                                 point_radius=1)
# Add layer
fig.add_layer(heat_layerB)

# Display figure
# print(Player_Profile['State'].value_counts())
fig

In [ ]:
# Plot Heatmap
fig2 = gmaps.figure()

# Create heat layer
heat_layerT = gmaps.heatmap_layer(Teamlocations, weights=MP, 
                                 dissipating=False, max_intensity=250,
                                 point_radius=1)
# Add layer
fig2.add_layer(heat_layerT)

# Display figure
# print(Player_Profile['State'].value_counts())
fig2

In [ ]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Create database connection
connection_string = "postgres:kelbywilson@localhost:57628/NBA"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

In [ ]:
# Load dataframes into database
nbaprofile.to_sql(name="nba_profile", con=engine, if_exists='replace', index=True)
engine.execute("SELECT * FROM nba_profile").fetchall()

In [ ]:
Player_Profile.to_sql(name='Player_Profile', con=engine, if_exists='replace', index=True)
engine.execute("SELECT * FROM Player_Profile").fetchall()